*{	
	margin:0px;
	padding: 0px;
	font-family: "微软雅黑";

}
body{
	margin:0px;
	padding: 0px;
	width: 1280px;
}
/*头部*/

#heading{
	height: 57px;
}
#heading #book{
	margin-top: 12px;
	margin-left: 15px;
}
#heading span{
	font-weight: bold;
	font-size: 24px;
	position: relative;
	top:-6px;
}

#heading .nav{
	float:right;
	height: 53px;
	width: 600px;
	margin-right:-25px;
}
#heading .nav li{
	list-style: none;
	display: inline-block;
	width: 16%;
	height: 100%;
	margin-right:-5px;
	transition: all .3s ease-out;
	border-bottom: 4px solid white;
}
#heading .nav li:hover{
	border-bottom: 4px solid #e74f4d;
}

#heading .nav li a{
	text-decoration: none;
	color: #787b83;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 18px;
	transition: all .3s ease-out;
}
#heading .nav li:nth-of-type(6) a{
	padding-top: 20px;

}
#heading .nav li a:hover{
	color: #e74f4d;
}
/*第一部分*/
#imgarea{
	position: relative;
}
.text1{
	font-size:54px;
	font-family:"微软雅黑";
	font-weight: bold;
	color:white;
	position: absolute;
	top:150px;left:120px;
}
.text2{
	font-size:20px;
	font-family:"微软雅黑";
	width: 290px;
	color:white;
	position: absolute;
	top:270px;left:120px;
	line-height:30px;
	opacity:.8;
}
#imgarea a{
	display:block;
	text-align:center;
	width:330px;
	height:53px;
	padding-top:12px;
	font-size:28px;
	font-family:"微软雅黑";
	color:white;
	text-decoration:none;
	background-color: #bf4f49;
	position: absolute;
	top:370px;left:120px;
	transition: color .3s ease-out .1s;
	-webkit-transition: all .3s ease-out .1s;
}
#imgarea a:hover{
	background-color:#e7504d;
}



/*midbox1*/
#midbox1{
	width:100%;
	text-align:center;
	margin-bottom:40px;
}
.imgbox img{
	padding:60px 135px 50px;
}
.textbox span{
	display:inline-block;
	font-size:12px;
	font-family:'微软雅黑';
	width:150px;
	padding:10px 80px 10px;
}
.textbox span+span{
	border-left:1px solid black;
}


/*midbox2*/
#midbox2{
	width:100%;
	height:360px;
	background-color:#edecec;
	text-align:center;
}
#midbox2 img{
	margin:100px 0px -20px;
}
#midbox2 p{
	margin-top:20px;
	font-size:46px;
	font-family:"微软雅黑";
	color:#a1a1a1;
}


/*searchbox*/
#searchbox{
	width:100%;
	height:340px;
	background-image: url(../img/task7/images/background4_02.gif);
}
.searchwraper{
	display:inline-block;
	padding:30px 0px 0px 60px;
	margin-top:180px;
}
.search{
	width:235px;
	height:38px;
	font-size:14px;
	font-family:"微软雅黑";
	text-indent:1em;
	appearance:none;
	-webkit-appearance:none;
	background: url(../img/task7/images/select.gif) no-repeat right center;
	outline:none;
}
#searchbox option{
	text-indent:1em;
}
.searchbtn{
	display: inline-block;
	text-align: center;
	vertical-align: center;
}
.searchbtn a{
	display: inline-block; 
	width:235px;
	height:31px;
	text-decoration:none;
	background-color: #bf4f49;
	font-size:16px;
	font-family: '微软雅黑';
	color:white;
	padding-top:7px;
	margin: 0px 60px;
	transition: all .3s ease-out .1s;
	-webkit-transition: all .3s ease-out .1s;
	opacity: .8;
}
.searchbtn a:hover{
	opacity: 1;
	background-color:#e7504d;
}


/*picturebox*/
#picturebox{
	width:100%;
	height: 600px;
	background-color:#f7f7f7;
	margin-top: -16px;
}
.picturelist{
	list-style: none;
}
.image{
	display: inline-block;
	width: 218px;
	height: 340px;
	text-align: center;
	border:1px solid #dadada;
	margin:100px 36px 0px;
	box-shadow: 6px 6px 10px #bfbfbf;
}
.image a{
	display: block;
	margin-top:15px;
	background-color: white;
}
.image p:nth-of-type(1){
	margin-top:30px;
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.image p:nth-of-type(2){
	margin-top:0px;
	font-family: "微软雅黑";
}


/*nav_picturebox*/

#nav_picturebox .firstbox{
	width: 100%;
	height: 564px;
}
#nav_picturebox .inline-box{
	height: 100%;
	padding: 0px;
	display: inline-block;
	overflow: hidden;
}
#nav_picturebox .firstbox>div:nth-of-type(1){
	width:66%;
	background-image: url(../img/task7/images/task7_02.gif);
	margin-left: -1px;
}
#nav_picturebox .firstbox>div:nth-of-type(2){
	width:34%;
	margin-left: -6px;
	vertical-align: top;
}
#nav_picturebox .textbox2 h2{
	margin-top: 165px;
	text-align: center;
	font-weight: normal;
}
#nav_picturebox .textbox2 h2 span{
	color: #e74f4d;
}
#nav_picturebox .textbox2>p{
	margin: 32px 70px 35px;
	font-size: 14px;
	opacity: .7;
}
#nav_picturebox .textbox2 .more{
	display: block;
	text-align: center;
	line-height: 31px;
	text-decoration: none;
	color: #e74f4d;
	width: 104px;
	height: 32px;
	margin: 0px auto;
	border: 1px solid #e74f4d;
	transition: all .3s ease-out;
}
#nav_picturebox .textbox2 .more:hover{
	color: white;
	background-color: #e74f4d;
}
#nav_picturebox .textbox2 .page{
	margin: 20px auto;
	text-align: center;
}
#nav_picturebox .textbox2 .page a{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #919292;
	border-radius: 50%;
	margin:5px;
	cursor: default;
	transition: all .3s;
}
#nav_picturebox .textbox2 .page a:hover{
	background-color: #919292;
}



#nav_picturebox .secondbox{
	width: 100%;
	height: 520px;
}
#nav_picturebox .secondbox>div:nth-of-type(1){
	width: 33%;
	background-color: #e74f4d;
}
#nav_picturebox .secondbox .textbox3 p{
	text-align: center;
	color: white;
	margin-top: 170px;
	margin-bottom: 20px;
}
#nav_picturebox .secondbox .textbox3 p span{
	text-decoration: underline;
}
#nav_picturebox .secondbox .textbox3 a{	
	display: block;
	text-align: center;
	line-height: 31px;
	text-decoration: none;
	color: white;
	width: 104px;
	height: 32px;
	margin: 0px auto;
	border: 1px solid white;
	transition: all .3s ease-out;
}
#nav_picturebox .secondbox .textbox3 a:hover{
	color:#e74f4d;
	background-color: white;
}
#nav_picturebox .secondbox>div:nth-of-type(2){
	width: 33%;
	margin-left: -5px;
}
#nav_picturebox .secondbox .textbox4 p{
	text-align: center;
	color: #e74f4d;
	margin-top: 170px;
	margin-bottom: 20px;
}
#nav_picturebox .secondbox .textbox4 p span{
	text-decoration: underline;
}
#nav_picturebox .secondbox .textbox4 a{	
	display: block;
	text-align: center;
	line-height: 31px;
	text-decoration: none;
	color: #e74f4d;
	width: 104px;
	height: 32px;
	margin: 0px auto;
	border: 1px solid #e74f4d;
	transition: all .3s ease-out;
}
#nav_picturebox .secondbox .textbox4 a:hover{
	color: white;
	background-color: #e74f4d;
}
#nav_picturebox .secondbox>div:nth-of-type(3){
	width: 34%;
	margin-left: -5px;
	background-image: url(../img/task7/images/task7_05.gif);
	-webkit-background-size: cover;
	background-size: cover;
}


/*applybox*/
#applybox{
	width: 100%;
	height: 750px;
}
#applybox .title{
	text-align: center;
}
#applybox .title h2{
	background-color: #000;
	display: block;
	margin-top: 120px;
	padding-bottom: 15px;
	color: #323333;
	background:linear-gradient(to bottom,#e7504d,#e7504d)no-repeat bottom/30px 3px;
}
#applybox .title p{
	margin-top: 15px;
	font-size: 12px;
	color: #aaa;
}
#boxwraper{
	margin-top: 108px;
	display: -webkit-flex;
}
#clause{
	flex:1;
}
#clause div{
	margin:0px 37px 40px 140px;
}
#clause h3{
	font-size: 14px;
	color: #666160;
	clear: both;
}
#clause p{
	font-size: 12px;
	color: #adabab;
}
#clause a{
	font-size: 11px;
	color: #adabab;
	float: right;
}
#clause a:hover{
	color: white;
	background-color: #adabab;
}
#formbox{
	flex:2;
}
/*footer*/
#footer{
	width: 100%;
	height: 415px;
	background-color: #32353e;
}